<mat-nav-list class="sidebar-nav">
  <a mat-list-item routerLink="home" routerLinkActive="active">
    <mat-icon matListIcon>home</mat-icon>
    <span>Início</span>
  </a>
  <a mat-list-item routerLink="/dashboard">
    <mat-icon matListIcon>dashboard</mat-icon>
    <span>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/cadastros/operador">
    <mat-icon matListIcon>person</mat-icon>
    <span>Cadastrar Operador</span>
  </a>
  <a mat-list-item routerLink="/cadastros/supervisor">
    <mat-icon matListIcon>supervisor_account</mat-icon>
    <span>Cadastrar Supervisor</span>
  </a>
  <a mat-list-item routerLink="/cadastros/setor">
    <mat-icon matListIcon>supervisor_account</mat-icon>
    <span>Cadastrar Setor</span>
  </a>
  <a mat-list-item routerLink="/cadastros/administrador">
    <mat-icon matListIcon>admin_panel_settings</mat-icon>
    <span>Cadastrar Administrador</span>
  </a>
</mat-nav-list>